{% extends 'layout.html' %} {% block content %}
<h1 class="display-4">Enter</h1>
<div class="admin-enter" id="enter">
    <form>
        <input type="hidden" :model="id">
        <fieldset class="form-group">
            <label for="exampleInputEmail1">电影名字</label>
            <input type="text" :model="title" class="form-control"  placeholder="电影名字">
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleInputEmail1">电影导演</label>
            <input type="text" :model="doctor" class="form-control" placeholder="电影导演">
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleInputEmail1">国家</label>
            <input type="text" :model="country" class="form-control" placeholder="国家">
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleInputEmail1">语种</label>
            <input type="text" :model="language" class="form-control" placeholder="语种">
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleInputEmail1">海报地址</label>
            <input type="text" :model="flash" class="form-control" placeholder="海报地址">
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleInputEmail1">片源地址</label>
            <input type="text" :model="poster" class="form-control" placeholder="片源地址">
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleInputEmail1">上映年代</label>
            <input type="text" :model="year" v-model="year" class="form-control" placeholder="上映年代">
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleInputEmail1">电影简介</label>
            <input type="text" :model="summary" class="form-control" placeholder="电影简介">
        </fieldset>
        <button type="button" class="btn btn-primary" @click="submit">保存</button>
    </form>
</div>
{% endblock %}{% block script %}
<script>
var enter = new Vue({
    el:'#enter',
    data:{
        id:"",
        title:"",
        doctor:"",
        country:"",
        language:"",
        flash:"",
        poster:"",
        year:"",
        summary:""
    },
    methods:{
        submit:function(){
            axios.get('/admin/list')
            .then(function(res){
                console.log(res);
            })
            .catch(function(err){
                console.log(err);
            })
        }
    },
    mounted (){
        
    }
});
</script>
{% endblock %}