{% extends 'layout.html' %} {% block content %}
<h1 class="display-4">List</h1>
<div class="movie-list" id="list">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>电影名字</th>
                <th>导演</th>
                <th>国家</th>
                <th>上映年份</th>
                <th>录入时间</th>
                <th>查看</th>
                <th>更新</th>
                <th>删除</th>
            </tr>
        </thead>
        <tbody>
            {% for item in movies %}
            <tr>
                <td>{{item.title}}</td>
                <td>{{item.doctor}}</td>
                <td>{{item.country}}</td>
                <td>{{item.year}}</td>
                <td>{{ item.meta.createAt|date('Y-m-d')}}</td>
                <td><a class="btn btn-link" href="../page/detail/{{item._id|json_encode}}">查看</a></td>
                <td><a class="btn btn-link" href="../admin/enter/{{item._id|json_encode}}">修改</a></td>
                <td><button class="btn btn-danger">删除</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} {% block script %}
<script>
    var List = new Vue({
        el: '#list',
    });
</script>
{% endblock%}