<%- include('../layout/header') -%>
    <div id="index">
        <h1>首页</h1>
        <a href="/admin/list" class="btn">admin</a>
        <form>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">用户名</label>
                <input type="text" v-model="username" class="form-control" placeholder="用户名">
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">输入密码</label>
                <input type="text" v-model="password" class="form-control" placeholder="密码">
            </fieldset>
            <fieldset class="form-group">
                <label for="exampleInputEmail1">再次输入密码</label>
                <input type="text" v-model="repassword" class="form-control" placeholder="密码">
            </fieldset>
            <button type="button" class="btn btn-primary" @click="submit">保存</button>
            <button type="button" class="btn btn-warning" @click="cancle">取消</button>
        </form>
    </div>
    <%- include('../layout/footer') -%>
        <script>
            var box = JSON.parse('<%- JSON.stringify(test) %>');
            var box = new Vue({
                el: "#index",
                data: {
                    username: "",
                    password: "",
                    repassword: ""
                },
                methods: {
                    submit() {

                    },
                    cancle() {

                    }
                }
            });
        </script>